@page "/"
@using Models
@using Util
@inject PokeClient client

<div class="container">
    <img src="/img/5bbf4f80ea416-c1d83f1fb6a3a0f61922a48402762888.png" alt="pokemon logo" class="app-title" />
    <div class="pokemon-row">
        @foreach (var pokemon in pokemonList)
        {
           <div class="pokemon-card">
               <img src="@pokemon.sprites.front_default" alt="Pokemon Sprite" />
               <h4 class="pokemon-name">@pokemon.name</h4>
               <div class="type-row">
                   @foreach (var type in pokemon.types)
                    {
                        <span class="type-badge" style="background-color: @PokeColor.GetTypeColor(type.type.name)">@type.type.name</span>
                    }
               </div>
           </div>
        }
    </div>
</div>

@code {

    List<Pokemon> pokemonList = new List<Pokemon>();

    protected override async Task OnInitializedAsync()
    {
        for (int i = 1; i < 20; i++)
        {
            pokemonList.Add(await client.GetPokemon(i.ToString()));
            StateHasChanged();
        }
    }
}